body {
    max-width: 100ch;
    padding-block: 24px;
    padding-inline: 24px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Archives */

body > table {
    width: 100%;
    & tr td:nth-child(3) {
        display: none;
    }
    & tr td:nth-child(2) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    & tr td:nth-child(2) a{
        white-space: nowrap;
    }
}
