:root {
    --padding: 16px;
}
@media screen and (min-width: 768px) {
    :root {
        --padding: 32px;
    }
}

body {
    margin: 0;
    max-width: 100ch;
    padding-block: var(--padding);
    padding-inline: var(--padding);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;

    &>h1 {
        hyphens: auto;
        word-break: break-word;
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Archives page */
body > table {
    width: 100%;
    & tr td:nth-child(3) {
        display: none;
    }
    & tr td:nth-child(2) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    & tr td:nth-child(2) a {
        white-space: nowrap;
    }
}
